fastapi>=0.125.0
uvicorn[standard]>=0.32.0
aiogram>=3.15.0
google-api-python-client>=2.150.0
# openai>=1.55.0
python-dotenv>=1.0.1
pydantic>=2.10.0
pydantic-settings>=2.6.0
httpx>=0.28.0
openai[aiohttp]>=1.55.0
pytest>=8.3.0
pytest-asyncio>=0.24.0
python-jose[cryptography]>=3.5.0