name: tests

on:
  pull_request: 
    types: [synchronize, edited]


jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.14'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip && python -m pip install -r requirements.txt
          # && python -m pip install -r requirements-common.txt 
          # && python -m pip install -r requirements-bot.txt 
          # && python -m pip install -r requirements-app.txt 
      - name: Run tests
        run: |
          pytest -q
      - name: Upload pytest junitxml
        if: always()
        run: |
          mkdir -p test-results || true
          pytest --junitxml=test-results/junit.xml || true
      - name: Upload test results artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: pytest-results
          path: test-results
