name: i18n validation

on:
  push: {}
  pull_request: {}

jobs:
  validate_i18n:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: python -m pip install -r requirements.txt
      - name: Run i18n validation
        run: |
          python -m scripts.validate_translations
